* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sedan-sc-regular {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
}


body {
    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    background-color: #7B418B;
}

header {
    height: 10vh;
    background-color: #B61DE1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Sedan SC", serif;
}

img {
    height: 35px;
    width: 35px;

}


main {
    flex: 1;
    height: 80vh;
    min-height: 80vh;
}

footer {
    height: 10vh;
    background-color: #B61DE1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    min-height: 70vh;
    padding: 4%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5%;
}

.post-container {
    width: 300px;
    min-height: 200px;
    background-color: #312B33;
    border-radius: 10px;
    box-shadow: 5px 5px 9px rgb(120, 21, 120);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px auto;
    color: #efefef;
}

.post-autor {
    width: 100%;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 30px;
}

.post-conteudo {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.post-data {
    font-size: 14px;
    margin-top: auto;
}
.post-apagar {
    display: flex;
    justify-content: end;
    
}

@media (max-widht: 600px) {
    header {
        height: 15vh;
        font-size: 20px;
    }

    .post-container {
        width: 90%;
    }
}

#login {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login form {
    width: 30%;
    min-width: 350px;
    height: 500px;
    color: #2a2a2a;
    background-color: #ededed;
    box-shadow: 5px 5px 10px gray;
    border: 2px solid #f6c678;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 20px;
    border: 10px solid #424242;
}

#login form h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}

#login form label {
    font-size: 20px;
    font-weight: 600;
}

#login form #email,
#login form #senha {
    width: 280px;
    height: 50px;
    resize: none;
    border: 1px solid #323232;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial;
    font-size: 18px;
}

#login form button {
    width: 90%;
    height: 40px;
    background-color: #9A36B6;
    border: none;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 auto;
}

#login form button:hover {
    background-color: #fff;
    color: #9A36B6;
    transition: 200ms;
    border: 2px solid #9A36B6;
}

#novopost {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#novopost form {
    width: 30%;
    height: 500px;
    background-color: #9A36B6;
    color: #fff;
    box-shadow: 5px 5px 10px gray;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#novopost form label {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#novopost form textarea {
    width: 90%;
    height: 120px;
    resize: none;
    border: 2px solid #9A36B6;
    border-radius: 5px;
    padding: 5px;
    font-family: Arial;
    font-size: 18px;
}

#novopost form button {
    width: 90%;
    height: 40px;
    background-color: #fff;
    border: none;
    color: #9A36B6;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#novopost form button:hover {
    background-color: #9A36B6;
    color: #fff;
    transition: 200ms;
    border: 2px solid #fff;
}

#menu {
    height: 5vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

#menu .button {
    width: 100px;
    height: 30px;
    background-color: #9A36B6;
    color: #000;
    border: none;
    cursor: pointer;
}

#menu .button:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    header {
        height: 15vh;
        font-size: 20px;
    }

    .post-container {
        width: 90%;
    }

    #novopost {
        height: 20vh;
    }

    #novopost form {
        width: 90%;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    #novopost form textarea {
        width: 95%;
    }
}

#erro404 {
    width: 100%;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    padding: 20px;
}

#adm {
    display: flex;
    flex-direction: row;
    padding: 0;
}

#adm-users {
    width: 50%;
    min-height: 75vh;
    padding: 20px;
    background-color: #fff;
    border: 3px solid #000;
}

#adm-users table {
    width: 100%;
}

#adm-users table,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
}

#adm-users button {
    padding: 5px 30px;
    height: 30px;
    margin: 20px 0;
    border-radius: 20px;
    border: none;
    background-color: #006400;
    color: #fff;
}

#adm-users button:hover {
    background-color: #3da43d;
    color: #fff;
    cursor: pointer;
}

#adm-posts {
    width: 50%;
    min-height: 75vh;
    background-color: #ffffff;
    padding: 10px;
    border: 3px solid #000;
}

#novousuario {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

#novousuario form {
    width: 30%;
    background-color: #4747bd;
    height: 70vh;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    color: #fff;
}

#novousuario form input {
    margin: 10px 0;
    height: 30px;
    border-radius: 10px;
    padding-left: 10px;
}

#novousuario button {
    padding: 5px 30px;
    height: 30px;
    margin: 20px 0;
    border-radius: 20px;
    border: none;
    background-color: #006400;
    color: #fff;
}

#novousuario button:hover {
    background-color: #3da43d;
    cursor: pointer;
}

#adm-posts {
    width: 50%;
    min-height: 75vh;
    padding: 20px;
}

#adm-posts table {
    width: 100%;
    background-color: #d8d8d8;
}

#adm-posts table,
td,
th {
    border: 1px solid gray;
    border-collapse: collapse;
    background-color: #d8d8d8;
}

#menu {
    color: #d8d8d8;
}
