<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" href="../static/favicon.ico.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap" rel="stylesheet">
    
    <title>BLOG</title>
</head>

<body>
    <header>
        <img src="../static/favicon.ico.png">
        <h1>GBwitter</h1>
    </header>

    <main>
        {% block conteudo %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; Gabriel Camargo Gonçalves Silva - 2024</p>
    </footer>


</body>

</html>